.btn {
	display: inline-block;
	border-radius: $border-radius;
	font-weight: 400;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;

	&:disabled,
	&.disabled,
	&[aria-disabled='true'] {
		cursor: default;
	}

	&-primary {
		background: $primary-color;
	}
}

.primary-btn {
	text-transform: uppercase;
	background-color: $primary-color;
	color: $black;
	border: none;
	padding: 17px 40px 20px;
	font-size: 11px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background-color: #e0b909;
	}
}