.product-container {
    max-width: min(1240px, 90%);
    margin: auto;
    margin-bottom: 75px;

    .heading-medium.heading {
        margin-bottom: 21px;
    }
}

.slick-arrow.slick-prev::before {
    content: none;
}

.slick-arrow.slick-next::before {
    content: none;
}